## Preprocessing

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

# View the value counts for 'APPLICATION_TYPE'
value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(value_counts)

# Define a threshold for what constitutes a rare value
threshold = 100

# Identify values that appear less frequently than the threshold
to_replace = value_counts[value_counts < threshold].index

# Replace these values with 'Other'
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(to_replace, 'Other')

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 500
# use the variable name `application_types_to_replace`
application_counts = application_df['APPLICATION_TYPE'].value_counts()

#  YOUR CODE GOES HERE
# Create a list of application types to be replaced
application_types_to_replace = application_counts[application_counts < cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 500
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

application_df_encoded = pd.get_dummies(application_df)
# Display the first few rows of the updated DataFrame to verify
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [11]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
# Define the correct target column name
target_column = 'IS_SUCCESSFUL'

# Separate the features and target
X = application_df_encoded.drop(columns=[target_column])  # Features
y = application_df_encoded[target_column]  # Target

# Display the shapes of the features and target arrays to verify
print("Features shape:", X.shape)
print("Target shape:", y.shape)


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Display the shapes of the training and testing datasets to verify
print("Training feature shape:", X_train.shape)
print("Testing feature shape:", X_test.shape)
print("Training target shape:", y_train.shape)
print("Testing target shape:", y_test.shape)

Features shape: (34299, 44)
Target shape: (34299,)
Training feature shape: (27439, 44)
Testing feature shape: (6860, 44)
Training target shape: (27439,)
Testing target shape: (6860,)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()
# Input layer
nn.add(tf.keras.layers.InputLayer(input_shape=(20,)))

# Custom initializer example using VarianceScaling
initializer = tf.keras.initializers.VarianceScaling(scale=1.0, mode='fan_in', distribution='truncated_normal')

# First hidden layer
nn.add(tf.keras.layers.Dense(80, activation='relu', kernel_initializer=initializer))

# Second hidden layer
nn.add(tf.keras.layers.Dense(30, activation='relu', kernel_initializer=initializer))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid', kernel_initializer=initializer))

# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Summary of the model
nn.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/input_layer.py:26: UserWarning: Argument `input_shape` is deprecated. Use `shape` instead.
  warnings.warn(

Model: "sequential"

â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”³â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”“
â”ƒ Layer (type)                         â”ƒ Output Shape                â”ƒ         Param # â”ƒ
â”¡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â•‡â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”©
â”‚ dense (Dense)                        â”‚ (None, 80)                  â”‚           1,680 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_1 (Dense)                      â”‚ (None, 30)                  â”‚           2,430 â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ dense_2 (Dense)                      â”‚ (None, 1)                   â”‚              31 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”´â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

 Total params: 4,141 (16.18 KB)

 Trainable params: 4,141 (16.18 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# Define the model
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train.shape[1],)),  # Use Input layer instead of input_shape argument
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(8, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
# Compile the model
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [23]:
# Train the model
history = model.fit(X_train_scaled, y_train,
                    epochs=100,
                    batch_size=32,
                    validation_split=0.2,
                    verbose=2)

Epoch 1/100
686/686 - 3s - 4ms/step - accuracy: 0.6811 - loss: 0.6182 - val_accuracy: 0.7270 - val_loss: 0.5639
Epoch 2/100
686/686 - 1s - 2ms/step - accuracy: 0.7223 - loss: 0.5656 - val_accuracy: 0.7387 - val_loss: 0.5509
Epoch 3/100
686/686 - 3s - 4ms/step - accuracy: 0.7258 - loss: 0.5569 - val_accuracy: 0.7400 - val_loss: 0.5474
Epoch 4/100
686/686 - 2s - 3ms/step - accuracy: 0.7272 - loss: 0.5536 - val_accuracy: 0.7383 - val_loss: 0.5481
Epoch 5/100
686/686 - 2s - 3ms/step - accuracy: 0.7277 - loss: 0.5523 - val_accuracy: 0.7398 - val_loss: 0.5456
Epoch 6/100
686/686 - 2s - 4ms/step - accuracy: 0.7281 - loss: 0.5514 - val_accuracy: 0.7387 - val_loss: 0.5464
Epoch 7/100
686/686 - 1s - 2ms/step - accuracy: 0.7293 - loss: 0.5498 - val_accuracy: 0.7387 - val_loss: 0.5475
Epoch 8/100
686/686 - 1s - 2ms/step - accuracy: 0.7295 - loss: 0.5500 - val_accuracy: 0.7394 - val_loss: 0.5448
Epoch 9/100
686/686 - 2s - 4ms/step - accuracy: 0.7291 - loss: 0.5491 - val_accuracy: 0.7378 - val_loss: 0.5454
Epoch 10/100
686/686 - 1s - 2ms/step - accuracy: 0.7297 - loss: 0.5485 - val_accuracy: 0.7378 - val_loss: 0.5452
Epoch 11/100
686/686 - 3s - 5ms/step - accuracy: 0.7298 - loss: 0.5480 - val_accuracy: 0.7374 - val_loss: 0.5449
Epoch 12/100
686/686 - 2s - 2ms/step - accuracy: 0.7298 - loss: 0.5480 - val_accuracy: 0.7382 - val_loss: 0.5449
Epoch 13/100
686/686 - 1s - 2ms/step - accuracy: 0.7305 - loss: 0.5474 - val_accuracy: 0.7398 - val_loss: 0.5438
Epoch 14/100
686/686 - 1s - 2ms/step - accuracy: 0.7296 - loss: 0.5469 - val_accuracy: 0.7392 - val_loss: 0.5452
Epoch 15/100
686/686 - 1s - 2ms/step - accuracy: 0.7311 - loss: 0.5468 - val_accuracy: 0.7391 - val_loss: 0.5452
Epoch 16/100
686/686 - 1s - 2ms/step - accuracy: 0.7306 - loss: 0.5469 - val_accuracy: 0.7387 - val_loss: 0.5437
Epoch 17/100
686/686 - 1s - 2ms/step - accuracy: 0.7316 - loss: 0.5462 - val_accuracy: 0.7396 - val_loss: 0.5428
Epoch 18/100
686/686 - 1s - 2ms/step - accuracy: 0.7306 - loss: 0.5461 - val_accuracy: 0.7387 - val_loss: 0.5431
Epoch 19/100
686/686 - 2s - 2ms/step - accuracy: 0.7324 - loss: 0.5460 - val_accuracy: 0.7385 - val_loss: 0.5431
Epoch 20/100
686/686 - 2s - 3ms/step - accuracy: 0.7316 - loss: 0.5457 - val_accuracy: 0.7391 - val_loss: 0.5443
Epoch 21/100
686/686 - 2s - 3ms/step - accuracy: 0.7334 - loss: 0.5457 - val_accuracy: 0.7389 - val_loss: 0.5429
Epoch 22/100
686/686 - 1s - 2ms/step - accuracy: 0.7314 - loss: 0.5456 - val_accuracy: 0.7372 - val_loss: 0.5446
Epoch 23/100
686/686 - 3s - 4ms/step - accuracy: 0.7316 - loss: 0.5453 - val_accuracy: 0.7402 - val_loss: 0.5430
Epoch 24/100
686/686 - 2s - 3ms/step - accuracy: 0.7321 - loss: 0.5448 - val_accuracy: 0.7407 - val_loss: 0.5426
Epoch 25/100
686/686 - 1s - 2ms/step - accuracy: 0.7318 - loss: 0.5452 - val_accuracy: 0.7376 - val_loss: 0.5434
Epoch 26/100
686/686 - 1s - 2ms/step - accuracy: 0.7317 - loss: 0.5443 - val_accuracy: 0.7382 - val_loss: 0.5443
Epoch 27/100
686/686 - 3s - 4ms/step - accuracy: 0.7330 - loss: 0.5447 - val_accuracy: 0.7392 - val_loss: 0.5426
Epoch 28/100
686/686 - 2s - 3ms/step - accuracy: 0.7330 - loss: 0.5444 - val_accuracy: 0.7382 - val_loss: 0.5421
Epoch 29/100
686/686 - 1s - 2ms/step - accuracy: 0.7334 - loss: 0.5442 - val_accuracy: 0.7396 - val_loss: 0.5433
Epoch 30/100
686/686 - 1s - 2ms/step - accuracy: 0.7331 - loss: 0.5443 - val_accuracy: 0.7392 - val_loss: 0.5436
Epoch 31/100
686/686 - 1s - 2ms/step - accuracy: 0.7336 - loss: 0.5441 - val_accuracy: 0.7407 - val_loss: 0.5417
Epoch 32/100
686/686 - 1s - 2ms/step - accuracy: 0.7332 - loss: 0.5444 - val_accuracy: 0.7400 - val_loss: 0.5422
Epoch 33/100
686/686 - 1s - 2ms/step - accuracy: 0.7325 - loss: 0.5436 - val_accuracy: 0.7414 - val_loss: 0.5424
Epoch 34/100
686/686 - 1s - 2ms/step - accuracy: 0.7339 - loss: 0.5436 - val_accuracy: 0.7398 - val_loss: 0.5428
Epoch 35/100
686/686 - 2s - 3ms/step - accuracy: 0.7334 - loss: 0.5436 - val_accuracy: 0.7394 - val_loss: 0.5423
Epoch 36/100
686/686 - 2s - 3ms/step - accuracy: 0.7333 - loss: 0.5435 - val_accuracy: 0.7396 - val_loss: 0.5422
Epoch 37/100
686/686 - 1s - 2ms/step - accuracy: 0.7338 - loss: 0.5438 - val_accuracy: 0.7382 - val_loss: 0.5430
Epoch 38/100
686/686 - 2s - 4ms/step - accuracy: 0.7334 - loss: 0.5433 - val_accuracy: 0.7387 - val_loss: 0.5425
Epoch 39/100
686/686 - 2s - 3ms/step - accuracy: 0.7337 - loss: 0.5434 - val_accuracy: 0.7392 - val_loss: 0.5424
Epoch 40/100
686/686 - 1s - 2ms/step - accuracy: 0.7340 - loss: 0.5429 - val_accuracy: 0.7394 - val_loss: 0.5418
Epoch 41/100
686/686 - 1s - 2ms/step - accuracy: 0.7331 - loss: 0.5433 - val_accuracy: 0.7394 - val_loss: 0.5433
Epoch 42/100
686/686 - 3s - 4ms/step - accuracy: 0.7343 - loss: 0.5428 - val_accuracy: 0.7374 - val_loss: 0.5466
Epoch 43/100
686/686 - 2s - 3ms/step - accuracy: 0.7339 - loss: 0.5432 - val_accuracy: 0.7402 - val_loss: 0.5425
Epoch 44/100
686/686 - 2s - 3ms/step - accuracy: 0.7341 - loss: 0.5426 - val_accuracy: 0.7380 - val_loss: 0.5437
Epoch 45/100
686/686 - 1s - 2ms/step - accuracy: 0.7326 - loss: 0.5428 - val_accuracy: 0.7391 - val_loss: 0.5426
Epoch 46/100
686/686 - 1s - 2ms/step - accuracy: 0.7324 - loss: 0.5425 - val_accuracy: 0.7400 - val_loss: 0.5425
Epoch 47/100
686/686 - 3s - 4ms/step - accuracy: 0.7330 - loss: 0.5426 - val_accuracy: 0.7403 - val_loss: 0.5430
Epoch 48/100
686/686 - 1s - 2ms/step - accuracy: 0.7333 - loss: 0.5428 - val_accuracy: 0.7405 - val_loss: 0.5415
Epoch 49/100
686/686 - 1s - 2ms/step - accuracy: 0.7332 - loss: 0.5423 - val_accuracy: 0.7403 - val_loss: 0.5428
Epoch 50/100
686/686 - 3s - 4ms/step - accuracy: 0.7345 - loss: 0.5425 - val_accuracy: 0.7396 - val_loss: 0.5417
Epoch 51/100
686/686 - 2s - 2ms/step - accuracy: 0.7336 - loss: 0.5423 - val_accuracy: 0.7400 - val_loss: 0.5420
Epoch 52/100
686/686 - 2s - 3ms/step - accuracy: 0.7335 - loss: 0.5423 - val_accuracy: 0.7398 - val_loss: 0.5424
Epoch 53/100
686/686 - 1s - 2ms/step - accuracy: 0.7338 - loss: 0.5427 - val_accuracy: 0.7400 - val_loss: 0.5414
Epoch 54/100
686/686 - 2s - 4ms/step - accuracy: 0.7324 - loss: 0.5421 - val_accuracy: 0.7396 - val_loss: 0.5425
Epoch 55/100
686/686 - 1s - 2ms/step - accuracy: 0.7346 - loss: 0.5420 - val_accuracy: 0.7392 - val_loss: 0.5422
Epoch 56/100
686/686 - 2s - 2ms/step - accuracy: 0.7346 - loss: 0.5421 - val_accuracy: 0.7402 - val_loss: 0.5427
Epoch 57/100
686/686 - 1s - 2ms/step - accuracy: 0.7345 - loss: 0.5415 - val_accuracy: 0.7416 - val_loss: 0.5428
Epoch 58/100
686/686 - 2s - 2ms/step - accuracy: 0.7348 - loss: 0.5416 - val_accuracy: 0.7409 - val_loss: 0.5434
Epoch 59/100
686/686 - 2s - 3ms/step - accuracy: 0.7338 - loss: 0.5420 - val_accuracy: 0.7418 - val_loss: 0.5423
Epoch 60/100
686/686 - 1s - 2ms/step - accuracy: 0.7350 - loss: 0.5419 - val_accuracy: 0.7402 - val_loss: 0.5428
Epoch 61/100
686/686 - 1s - 2ms/step - accuracy: 0.7357 - loss: 0.5412 - val_accuracy: 0.7425 - val_loss: 0.5413
Epoch 62/100
686/686 - 1s - 2ms/step - accuracy: 0.7346 - loss: 0.5417 - val_accuracy: 0.7387 - val_loss: 0.5429
Epoch 63/100
686/686 - 3s - 4ms/step - accuracy: 0.7345 - loss: 0.5414 - val_accuracy: 0.7396 - val_loss: 0.5436
Epoch 64/100
686/686 - 3s - 4ms/step - accuracy: 0.7340 - loss: 0.5416 - val_accuracy: 0.7414 - val_loss: 0.5414
Epoch 65/100
686/686 - 2s - 3ms/step - accuracy: 0.7357 - loss: 0.5411 - val_accuracy: 0.7420 - val_loss: 0.5404
Epoch 66/100
686/686 - 2s - 3ms/step - accuracy: 0.7348 - loss: 0.5412 - val_accuracy: 0.7416 - val_loss: 0.5411
Epoch 67/100
686/686 - 2s - 2ms/step - accuracy: 0.7362 - loss: 0.5411 - val_accuracy: 0.7396 - val_loss: 0.5424
Epoch 68/100
686/686 - 1s - 2ms/step - accuracy: 0.7355 - loss: 0.5416 - val_accuracy: 0.7403 - val_loss: 0.5399
Epoch 69/100
686/686 - 1s - 2ms/step - accuracy: 0.7350 - loss: 0.5412 - val_accuracy: 0.7405 - val_loss: 0.5426
Epoch 70/100
686/686 - 1s - 2ms/step - accuracy: 0.7354 - loss: 0.5414 - val_accuracy: 0.7416 - val_loss: 0.5410
Epoch 71/100
686/686 - 1s - 2ms/step - accuracy: 0.7360 - loss: 0.5412 - val_accuracy: 0.7394 - val_loss: 0.5424
Epoch 72/100
686/686 - 1s - 2ms/step - accuracy: 0.7359 - loss: 0.5406 - val_accuracy: 0.7413 - val_loss: 0.5423
Epoch 73/100
686/686 - 1s - 2ms/step - accuracy: 0.7353 - loss: 0.5412 - val_accuracy: 0.7413 - val_loss: 0.5411
Epoch 74/100
686/686 - 2s - 3ms/step - accuracy: 0.7353 - loss: 0.5410 - val_accuracy: 0.7387 - val_loss: 0.5427
Epoch 75/100
686/686 - 2s - 3ms/step - accuracy: 0.7356 - loss: 0.5406 - val_accuracy: 0.7394 - val_loss: 0.5402
Epoch 76/100
686/686 - 2s - 3ms/step - accuracy: 0.7359 - loss: 0.5409 - val_accuracy: 0.7402 - val_loss: 0.5414
Epoch 77/100
686/686 - 1s - 2ms/step - accuracy: 0.7366 - loss: 0.5408 - val_accuracy: 0.7403 - val_loss: 0.5426
Epoch 78/100
686/686 - 2s - 3ms/step - accuracy: 0.7354 - loss: 0.5407 - val_accuracy: 0.7403 - val_loss: 0.5440
Epoch 79/100
686/686 - 2s - 3ms/step - accuracy: 0.7354 - loss: 0.5404 - val_accuracy: 0.7418 - val_loss: 0.5415
Epoch 80/100
686/686 - 1s - 2ms/step - accuracy: 0.7357 - loss: 0.5408 - val_accuracy: 0.7403 - val_loss: 0.5431
Epoch 81/100
686/686 - 1s - 2ms/step - accuracy: 0.7363 - loss: 0.5404 - val_accuracy: 0.7398 - val_loss: 0.5422
Epoch 82/100
686/686 - 3s - 5ms/step - accuracy: 0.7363 - loss: 0.5407 - val_accuracy: 0.7396 - val_loss: 0.5410
Epoch 83/100
686/686 - 2s - 3ms/step - accuracy: 0.7361 - loss: 0.5401 - val_accuracy: 0.7429 - val_loss: 0.5401
Epoch 84/100
686/686 - 1s - 2ms/step - accuracy: 0.7357 - loss: 0.5403 - val_accuracy: 0.7402 - val_loss: 0.5418
Epoch 85/100
686/686 - 1s - 2ms/step - accuracy: 0.7367 - loss: 0.5404 - val_accuracy: 0.7402 - val_loss: 0.5413
Epoch 86/100
686/686 - 1s - 2ms/step - accuracy: 0.7362 - loss: 0.5403 - val_accuracy: 0.7411 - val_loss: 0.5399
Epoch 87/100
686/686 - 3s - 4ms/step - accuracy: 0.7365 - loss: 0.5400 - val_accuracy: 0.7411 - val_loss: 0.5422
Epoch 88/100
686/686 - 3s - 4ms/step - accuracy: 0.7365 - loss: 0.5401 - val_accuracy: 0.7385 - val_loss: 0.5430
Epoch 89/100
686/686 - 2s - 3ms/step - accuracy: 0.7355 - loss: 0.5402 - val_accuracy: 0.7402 - val_loss: 0.5420
Epoch 90/100
686/686 - 2s - 3ms/step - accuracy: 0.7360 - loss: 0.5400 - val_accuracy: 0.7396 - val_loss: 0.5425
Epoch 91/100
686/686 - 1s - 2ms/step - accuracy: 0.7362 - loss: 0.5398 - val_accuracy: 0.7405 - val_loss: 0.5432
Epoch 92/100
686/686 - 1s - 2ms/step - accuracy: 0.7363 - loss: 0.5399 - val_accuracy: 0.7409 - val_loss: 0.5411
Epoch 93/100
686/686 - 1s - 2ms/step - accuracy: 0.7364 - loss: 0.5400 - val_accuracy: 0.7398 - val_loss: 0.5420
Epoch 94/100
686/686 - 1s - 2ms/step - accuracy: 0.7357 - loss: 0.5397 - val_accuracy: 0.7400 - val_loss: 0.5428
Epoch 95/100
686/686 - 1s - 2ms/step - accuracy: 0.7353 - loss: 0.5397 - val_accuracy: 0.7403 - val_loss: 0.5450
Epoch 96/100
686/686 - 1s - 2ms/step - accuracy: 0.7361 - loss: 0.5398 - val_accuracy: 0.7409 - val_loss: 0.5415
Epoch 97/100
686/686 - 1s - 2ms/step - accuracy: 0.7366 - loss: 0.5398 - val_accuracy: 0.7403 - val_loss: 0.5426
Epoch 98/100
686/686 - 3s - 4ms/step - accuracy: 0.7371 - loss: 0.5397 - val_accuracy: 0.7407 - val_loss: 0.5410
Epoch 99/100
686/686 - 2s - 3ms/step - accuracy: 0.7365 - loss: 0.5395 - val_accuracy: 0.7402 - val_loss: 0.5452
Epoch 100/100
686/686 - 1s - 2ms/step - accuracy: 0.7366 - loss: 0.5399 - val_accuracy: 0.7411 - val_loss: 0.5422

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - 5ms/step - accuracy: 0.7265 - loss: 0.5580
Loss: 0.5579891800880432, Accuracy: 0.7265306115150452

In [27]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
model.save('my_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.