In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2024-09-06 11:19:02.683909: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns=['EIN'])

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_counts = application_df.nunique()
print(unique_counts)

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

# View the value counts for 'APPLICATION_TYPE'
value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(value_counts)

# Define a threshold for what constitutes a rare value
threshold = 100

# Identify values that appear less frequently than the threshold
to_replace = value_counts[value_counts < threshold].index

# Replace these values with 'Other'
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(to_replace, 'Other')

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
cutoff_value = 500
# use the variable name `application_types_to_replace`
application_counts = application_df['APPLICATION_TYPE'].value_counts()

#  YOUR CODE GOES HERE
# Create a list of application types to be replaced
application_types_to_replace = application_counts[application_counts < cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

# View the value counts for 'APPLICATION_TYPE'
value_counts = application_df['NAME'].value_counts()
print(value_counts)

# Define a threshold for what constitutes a rare value
threshold = 5

# Identify values that appear less frequently than the threshold
to_replace = value_counts[value_counts <= threshold].index

# Replace these values with 'Other'
application_df['NAME'] = application_df['NAME'].replace(to_replace, 'Other')

NAME
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: count, Length: 19568, dtype: int64

In [7]:
application_df['NAME'].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
cutoff_value = 500
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

application_df_encoded = pd.get_dummies(application_df)
# Display the first few rows of the updated DataFrame to verify
application_df_encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [12]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
# Define the correct target column name
target_column = 'IS_SUCCESSFUL'

# Separate the features and target
X = application_df_encoded.drop(columns=[target_column])  # Features
y = application_df_encoded[target_column]  # Target

# Display the shapes of the features and target arrays to verify
print("Features shape:", X.shape)
print("Target shape:", y.shape)


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Display the shapes of the training and testing datasets to verify
print("Training feature shape:", X_train.shape)
print("Testing feature shape:", X_test.shape)
print("Training target shape:", y_train.shape)
print("Testing target shape:", y_test.shape)

Features shape: (34299, 399)
Target shape: (34299,)
Training feature shape: (27439, 399)
Testing feature shape: (6860, 399)
Training target shape: (27439,)
Testing target shape: (6860,)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()
# Input layer
nn.add(tf.keras.layers.InputLayer(input_shape=(20,)))

# Custom initializer example using VarianceScaling
initializer = tf.keras.initializers.VarianceScaling(scale=1.0, mode='fan_in', distribution='truncated_normal')

# First hidden layer
nn.add(tf.keras.layers.Dense(80, activation='relu', kernel_initializer=initializer))

# Second hidden layer
nn.add(tf.keras.layers.Dense(30, activation='sigmoid', kernel_initializer=initializer))

# Output layer
nn.add(tf.keras.layers.Dense(1, activation='sigmoid', kernel_initializer=initializer))

# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Summary of the model
nn.summary()

/opt/anaconda3/lib/python3.11/site-packages/keras/src/layers/core/input_layer.py:26: UserWarning: Argument `input_shape` is deprecated. Use `shape` instead.
  warnings.warn(

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         1,680 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,141 (16.18 KB)

 Trainable params: 4,141 (16.18 KB)

 Non-trainable params: 0 (0.00 B)

In [15]:
# Define the model
model = tf.keras.Sequential([
    tf.keras.layers.Input(shape=(X_train.shape[1],)),  # Use Input layer instead of input_shape argument
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(8, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
# Compile the model
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [16]:
# Train the model
history = model.fit(X_train_scaled, y_train,
                    epochs=100,
                    batch_size=32,
                    validation_split=0.2,
                    verbose=2)

Epoch 1/100
686/686 - 5s - 7ms/step - accuracy: 0.7429 - loss: 0.5225 - val_accuracy: 0.7870 - val_loss: 0.4445
Epoch 2/100
686/686 - 3s - 5ms/step - accuracy: 0.7813 - loss: 0.4446 - val_accuracy: 0.8008 - val_loss: 0.4338
Epoch 3/100
686/686 - 5s - 7ms/step - accuracy: 0.7913 - loss: 0.4352 - val_accuracy: 0.8005 - val_loss: 0.4296
Epoch 4/100
686/686 - 2s - 3ms/step - accuracy: 0.7934 - loss: 0.4319 - val_accuracy: 0.7983 - val_loss: 0.4314
Epoch 5/100
686/686 - 2s - 3ms/step - accuracy: 0.7939 - loss: 0.4301 - val_accuracy: 0.8025 - val_loss: 0.4276
Epoch 6/100
686/686 - 3s - 5ms/step - accuracy: 0.7939 - loss: 0.4293 - val_accuracy: 0.8045 - val_loss: 0.4291
Epoch 7/100
686/686 - 3s - 5ms/step - accuracy: 0.7959 - loss: 0.4277 - val_accuracy: 0.8027 - val_loss: 0.4309
Epoch 8/100
686/686 - 2s - 3ms/step - accuracy: 0.7958 - loss: 0.4272 - val_accuracy: 0.8047 - val_loss: 0.4279
Epoch 9/100
686/686 - 2s - 3ms/step - accuracy: 0.7964 - loss: 0.4260 - val_accuracy: 0.8039 - val_loss: 0.4316
Epoch 10/100
686/686 - 2s - 4ms/step - accuracy: 0.7970 - loss: 0.4255 - val_accuracy: 0.8036 - val_loss: 0.4299
Epoch 11/100
686/686 - 2s - 3ms/step - accuracy: 0.7965 - loss: 0.4227 - val_accuracy: 0.8050 - val_loss: 0.4273
Epoch 12/100
686/686 - 2s - 3ms/step - accuracy: 0.7988 - loss: 0.4221 - val_accuracy: 0.8034 - val_loss: 0.4267
Epoch 13/100
686/686 - 2s - 3ms/step - accuracy: 0.7978 - loss: 0.4215 - val_accuracy: 0.8050 - val_loss: 0.4263
Epoch 14/100
686/686 - 2s - 3ms/step - accuracy: 0.7973 - loss: 0.4208 - val_accuracy: 0.8047 - val_loss: 0.4273
Epoch 15/100
686/686 - 2s - 3ms/step - accuracy: 0.7979 - loss: 0.4205 - val_accuracy: 0.8036 - val_loss: 0.4296
Epoch 16/100
686/686 - 3s - 4ms/step - accuracy: 0.7992 - loss: 0.4197 - val_accuracy: 0.8054 - val_loss: 0.4287
Epoch 17/100
686/686 - 4s - 6ms/step - accuracy: 0.7992 - loss: 0.4189 - val_accuracy: 0.8056 - val_loss: 0.4284
Epoch 18/100
686/686 - 2s - 3ms/step - accuracy: 0.7985 - loss: 0.4192 - val_accuracy: 0.8074 - val_loss: 0.4281
Epoch 19/100
686/686 - 2s - 3ms/step - accuracy: 0.7989 - loss: 0.4184 - val_accuracy: 0.8023 - val_loss: 0.4295
Epoch 20/100
686/686 - 2s - 3ms/step - accuracy: 0.7986 - loss: 0.4184 - val_accuracy: 0.8045 - val_loss: 0.4292
Epoch 21/100
686/686 - 2s - 3ms/step - accuracy: 0.8003 - loss: 0.4176 - val_accuracy: 0.8047 - val_loss: 0.4295
Epoch 22/100
686/686 - 2s - 3ms/step - accuracy: 0.7991 - loss: 0.4176 - val_accuracy: 0.8032 - val_loss: 0.4295
Epoch 23/100
686/686 - 1s - 2ms/step - accuracy: 0.8006 - loss: 0.4174 - val_accuracy: 0.8048 - val_loss: 0.4295
Epoch 24/100
686/686 - 2s - 3ms/step - accuracy: 0.8001 - loss: 0.4171 - val_accuracy: 0.8041 - val_loss: 0.4288
Epoch 25/100
686/686 - 3s - 4ms/step - accuracy: 0.8008 - loss: 0.4165 - val_accuracy: 0.8054 - val_loss: 0.4304
Epoch 26/100
686/686 - 4s - 5ms/step - accuracy: 0.8002 - loss: 0.4162 - val_accuracy: 0.8069 - val_loss: 0.4292
Epoch 27/100
686/686 - 3s - 4ms/step - accuracy: 0.8007 - loss: 0.4159 - val_accuracy: 0.8041 - val_loss: 0.4302
Epoch 28/100
686/686 - 1s - 2ms/step - accuracy: 0.8001 - loss: 0.4159 - val_accuracy: 0.8045 - val_loss: 0.4304
Epoch 29/100
686/686 - 2s - 3ms/step - accuracy: 0.8006 - loss: 0.4159 - val_accuracy: 0.8045 - val_loss: 0.4307
Epoch 30/100
686/686 - 2s - 2ms/step - accuracy: 0.8006 - loss: 0.4154 - val_accuracy: 0.8039 - val_loss: 0.4323
Epoch 31/100
686/686 - 1s - 2ms/step - accuracy: 0.8011 - loss: 0.4153 - val_accuracy: 0.8054 - val_loss: 0.4312
Epoch 32/100
686/686 - 2s - 2ms/step - accuracy: 0.8004 - loss: 0.4150 - val_accuracy: 0.8052 - val_loss: 0.4307
Epoch 33/100
686/686 - 2s - 2ms/step - accuracy: 0.8005 - loss: 0.4146 - val_accuracy: 0.8034 - val_loss: 0.4310
Epoch 34/100
686/686 - 1s - 2ms/step - accuracy: 0.8007 - loss: 0.4147 - val_accuracy: 0.8063 - val_loss: 0.4296
Epoch 35/100
686/686 - 1s - 2ms/step - accuracy: 0.8019 - loss: 0.4142 - val_accuracy: 0.8063 - val_loss: 0.4312
Epoch 36/100
686/686 - 1s - 2ms/step - accuracy: 0.8026 - loss: 0.4141 - val_accuracy: 0.8069 - val_loss: 0.4314
Epoch 37/100
686/686 - 2s - 2ms/step - accuracy: 0.8017 - loss: 0.4139 - val_accuracy: 0.8058 - val_loss: 0.4326
Epoch 38/100
686/686 - 2s - 2ms/step - accuracy: 0.8015 - loss: 0.4141 - val_accuracy: 0.8058 - val_loss: 0.4317
Epoch 39/100
686/686 - 1s - 2ms/step - accuracy: 0.8022 - loss: 0.4138 - val_accuracy: 0.8048 - val_loss: 0.4311
Epoch 40/100
686/686 - 1s - 2ms/step - accuracy: 0.8022 - loss: 0.4139 - val_accuracy: 0.8059 - val_loss: 0.4309
Epoch 41/100
686/686 - 1s - 2ms/step - accuracy: 0.8026 - loss: 0.4131 - val_accuracy: 0.8050 - val_loss: 0.4333
Epoch 42/100
686/686 - 1s - 2ms/step - accuracy: 0.8018 - loss: 0.4132 - val_accuracy: 0.8039 - val_loss: 0.4339
Epoch 43/100
686/686 - 1s - 2ms/step - accuracy: 0.8016 - loss: 0.4131 - val_accuracy: 0.8054 - val_loss: 0.4329
Epoch 44/100
686/686 - 1s - 2ms/step - accuracy: 0.8030 - loss: 0.4123 - val_accuracy: 0.8048 - val_loss: 0.4336
Epoch 45/100
686/686 - 1s - 2ms/step - accuracy: 0.8023 - loss: 0.4122 - val_accuracy: 0.8076 - val_loss: 0.4323
Epoch 46/100
686/686 - 1s - 2ms/step - accuracy: 0.8032 - loss: 0.4122 - val_accuracy: 0.8059 - val_loss: 0.4344
Epoch 47/100
686/686 - 1s - 2ms/step - accuracy: 0.8026 - loss: 0.4121 - val_accuracy: 0.8048 - val_loss: 0.4334
Epoch 48/100
686/686 - 1s - 2ms/step - accuracy: 0.8026 - loss: 0.4117 - val_accuracy: 0.8076 - val_loss: 0.4333
Epoch 49/100
686/686 - 2s - 3ms/step - accuracy: 0.8026 - loss: 0.4122 - val_accuracy: 0.8063 - val_loss: 0.4328
Epoch 50/100
686/686 - 2s - 2ms/step - accuracy: 0.8017 - loss: 0.4121 - val_accuracy: 0.8056 - val_loss: 0.4342
Epoch 51/100
686/686 - 2s - 4ms/step - accuracy: 0.8026 - loss: 0.4115 - val_accuracy: 0.8065 - val_loss: 0.4348
Epoch 52/100
686/686 - 1s - 2ms/step - accuracy: 0.8034 - loss: 0.4113 - val_accuracy: 0.8070 - val_loss: 0.4341
Epoch 53/100
686/686 - 2s - 2ms/step - accuracy: 0.8021 - loss: 0.4116 - val_accuracy: 0.8076 - val_loss: 0.4331
Epoch 54/100
686/686 - 1s - 2ms/step - accuracy: 0.8028 - loss: 0.4112 - val_accuracy: 0.8063 - val_loss: 0.4344
Epoch 55/100
686/686 - 1s - 2ms/step - accuracy: 0.8025 - loss: 0.4113 - val_accuracy: 0.8076 - val_loss: 0.4348
Epoch 56/100
686/686 - 1s - 2ms/step - accuracy: 0.8023 - loss: 0.4111 - val_accuracy: 0.8052 - val_loss: 0.4344
Epoch 57/100
686/686 - 1s - 2ms/step - accuracy: 0.8023 - loss: 0.4107 - val_accuracy: 0.8054 - val_loss: 0.4354
Epoch 58/100
686/686 - 3s - 4ms/step - accuracy: 0.8026 - loss: 0.4104 - val_accuracy: 0.8059 - val_loss: 0.4353
Epoch 59/100
686/686 - 2s - 3ms/step - accuracy: 0.8028 - loss: 0.4096 - val_accuracy: 0.8072 - val_loss: 0.4352
Epoch 60/100
686/686 - 3s - 4ms/step - accuracy: 0.8032 - loss: 0.4104 - val_accuracy: 0.8058 - val_loss: 0.4356
Epoch 61/100
686/686 - 2s - 3ms/step - accuracy: 0.8032 - loss: 0.4101 - val_accuracy: 0.8067 - val_loss: 0.4352
Epoch 62/100
686/686 - 2s - 2ms/step - accuracy: 0.8041 - loss: 0.4097 - val_accuracy: 0.8056 - val_loss: 0.4352
Epoch 63/100
686/686 - 2s - 3ms/step - accuracy: 0.8041 - loss: 0.4098 - val_accuracy: 0.8047 - val_loss: 0.4366
Epoch 64/100
686/686 - 2s - 2ms/step - accuracy: 0.8045 - loss: 0.4097 - val_accuracy: 0.8065 - val_loss: 0.4356
Epoch 65/100
686/686 - 1s - 2ms/step - accuracy: 0.8034 - loss: 0.4095 - val_accuracy: 0.8052 - val_loss: 0.4372
Epoch 66/100
686/686 - 2s - 2ms/step - accuracy: 0.8038 - loss: 0.4095 - val_accuracy: 0.8056 - val_loss: 0.4373
Epoch 67/100
686/686 - 1s - 2ms/step - accuracy: 0.8030 - loss: 0.4090 - val_accuracy: 0.8061 - val_loss: 0.4371
Epoch 68/100
686/686 - 1s - 2ms/step - accuracy: 0.8034 - loss: 0.4098 - val_accuracy: 0.8059 - val_loss: 0.4368
Epoch 69/100
686/686 - 1s - 2ms/step - accuracy: 0.8034 - loss: 0.4097 - val_accuracy: 0.8059 - val_loss: 0.4373
Epoch 70/100
686/686 - 3s - 4ms/step - accuracy: 0.8034 - loss: 0.4093 - val_accuracy: 0.8050 - val_loss: 0.4373
Epoch 71/100
686/686 - 1s - 2ms/step - accuracy: 0.8043 - loss: 0.4092 - val_accuracy: 0.8072 - val_loss: 0.4360
Epoch 72/100
686/686 - 1s - 2ms/step - accuracy: 0.8037 - loss: 0.4090 - val_accuracy: 0.8072 - val_loss: 0.4361
Epoch 73/100
686/686 - 1s - 2ms/step - accuracy: 0.8037 - loss: 0.4088 - val_accuracy: 0.8078 - val_loss: 0.4366

Epoch 74/100
686/686 - 1s - 2ms/step - accuracy: 0.8036 - loss: 0.4090 - val_accuracy: 0.8069 - val_loss: 0.4370
Epoch 75/100
686/686 - 1s - 2ms/step - accuracy: 0.8050 - loss: 0.4086 - val_accuracy: 0.8067 - val_loss: 0.4368
Epoch 76/100
686/686 - 1s - 2ms/step - accuracy: 0.8041 - loss: 0.4083 - val_accuracy: 0.8076 - val_loss: 0.4365
Epoch 77/100
686/686 - 3s - 5ms/step - accuracy: 0.8031 - loss: 0.4084 - val_accuracy: 0.8054 - val_loss: 0.4372
Epoch 78/100
686/686 - 2s - 3ms/step - accuracy: 0.8036 - loss: 0.4088 - val_accuracy: 0.8069 - val_loss: 0.4369
Epoch 79/100
686/686 - 2s - 3ms/step - accuracy: 0.8042 - loss: 0.4083 - val_accuracy: 0.8061 - val_loss: 0.4374
Epoch 80/100
686/686 - 3s - 4ms/step - accuracy: 0.8037 - loss: 0.4080 - val_accuracy: 0.8058 - val_loss: 0.4361
Epoch 81/100
686/686 - 4s - 6ms/step - accuracy: 0.8046 - loss: 0.4081 - val_accuracy: 0.8056 - val_loss: 0.4380
Epoch 82/100
686/686 - 2s - 3ms/step - accuracy: 0.8040 - loss: 0.4083 - val_accuracy: 0.8054 - val_loss: 0.4367
Epoch 83/100
686/686 - 2s - 2ms/step - accuracy: 0.8044 - loss: 0.4079 - val_accuracy: 0.8056 - val_loss: 0.4385
Epoch 84/100
686/686 - 2s - 2ms/step - accuracy: 0.8046 - loss: 0.4081 - val_accuracy: 0.8041 - val_loss: 0.4382
Epoch 85/100
686/686 - 2s - 3ms/step - accuracy: 0.8048 - loss: 0.4078 - val_accuracy: 0.8058 - val_loss: 0.4372
Epoch 86/100
686/686 - 2s - 2ms/step - accuracy: 0.8040 - loss: 0.4079 - val_accuracy: 0.8047 - val_loss: 0.4370
Epoch 87/100
686/686 - 2s - 3ms/step - accuracy: 0.8043 - loss: 0.4076 - val_accuracy: 0.8043 - val_loss: 0.4391
Epoch 88/100
686/686 - 3s - 4ms/step - accuracy: 0.8052 - loss: 0.4075 - val_accuracy: 0.8050 - val_loss: 0.4394
Epoch 89/100
686/686 - 2s - 3ms/step - accuracy: 0.8045 - loss: 0.4077 - val_accuracy: 0.8045 - val_loss: 0.4400
Epoch 90/100
686/686 - 2s - 3ms/step - accuracy: 0.8036 - loss: 0.4084 - val_accuracy: 0.8085 - val_loss: 0.4375
Epoch 91/100
686/686 - 2s - 3ms/step - accuracy: 0.8044 - loss: 0.4076 - val_accuracy: 0.8050 - val_loss: 0.4377
Epoch 92/100
686/686 - 2s - 2ms/step - accuracy: 0.8049 - loss: 0.4075 - val_accuracy: 0.8047 - val_loss: 0.4384
Epoch 93/100
686/686 - 1s - 2ms/step - accuracy: 0.8045 - loss: 0.4073 - val_accuracy: 0.8039 - val_loss: 0.4396
Epoch 94/100
686/686 - 1s - 2ms/step - accuracy: 0.8048 - loss: 0.4073 - val_accuracy: 0.8065 - val_loss: 0.4399
Epoch 95/100
686/686 - 1s - 2ms/step - accuracy: 0.8052 - loss: 0.4068 - val_accuracy: 0.8025 - val_loss: 0.4409
Epoch 96/100
686/686 - 2s - 2ms/step - accuracy: 0.8047 - loss: 0.4071 - val_accuracy: 0.8045 - val_loss: 0.4405
Epoch 97/100
686/686 - 2s - 3ms/step - accuracy: 0.8052 - loss: 0.4072 - val_accuracy: 0.8054 - val_loss: 0.4395
Epoch 98/100
686/686 - 2s - 3ms/step - accuracy: 0.8052 - loss: 0.4071 - val_accuracy: 0.8059 - val_loss: 0.4400
Epoch 99/100
686/686 - 2s - 3ms/step - accuracy: 0.8048 - loss: 0.4069 - val_accuracy: 0.8063 - val_loss: 0.4406
Epoch 100/100
686/686 - 2s - 2ms/step - accuracy: 0.8052 - loss: 0.4069 - val_accuracy: 0.8050 - val_loss: 0.4407

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7856 - loss: 0.4781
Loss: 0.47807246446609497, Accuracy: 0.7855685353279114

In [18]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
model.save('my_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.